.dash-holder {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.home-img {
  margin-top: 20px;
  height: 30vh;
  width: 61vw;
  background-image: url("../../Assets/Images/home_img.png");
  background-size: cover;
  color: #ffffff;
}
.home-img h1 {
  position: relative;
  top: 20vh;
  left: -15px;
  font-size: 20px;
  text-align: end;
}
.home-img h1 span {
  font-size: 14px;
  font-weight: 300;
}
.info {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 0 1.8fr 1.9fr 0.8fr 0;
  width: 61vw;
  height: 25vh;
  /* background-color: aquamarine; */
}
.date-time {
  /* padding: 10px; */
  grid-column: 1/3;
  height: 17vh;
  width: 95%;
  background-color: #f0f5ff;
  box-shadow: 5px 5px 15px rgba(202, 202, 202, 0.3);
  border-top: 5px solid #6065f7;
  border-radius: 5px;
}
.date-time-info {
  padding-left: 15px;
}
.date-time h4 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 13px;
}
.date-time h1 {
  margin-top: -12px;
}
.date-time p {
  font-weight: 400;
  font-size: 10px;
  margin-top: -20px;
}
.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 3/4;
  width: 95%;
  height: 19vh;
  background-color: #f0f5ff;
  box-shadow: 5px 5px 15px rgba(202, 202, 202, 0.3);
  border-top: 5px solid #6065f7;
  border-radius: 5px;
}
.weather-img {
  margin-left: 15px;
}
/* .weather-img img {
    height: 70px;
    width: auto;
    margin-left: 15px;
} */
.weather-details {
  margin-right: 15px;
}
.weather-details h1 {
  margin-top: -10px;
  font-size: 30px;
}
.details-wet {
  margin-top: 10px;
  font-size: 12px;
}
.humidity {
  width: 95%;
  height: 17vh;
  margin-top: -10px;
  font-size: 16px;
  background-color: #f0f5ff;
  box-shadow: 5px 5px 15px rgba(202, 202, 202, 0.3);
  border-top: 5px solid #6065f7;
  border-radius: 5px;
}
.humidity h1,
.humidity p {
  margin-left: 10px;
}
.temparature {
  text-align: center;
  grid-column: 4/6;
  background-color: #6065f7;
  color: #ffffff;
  width: 100%;
  height: 15vh;
}
.temparature h1 {
  font-size: 35px;
}
.temparature p {
  margin-top: -25px;
  font-size: 12px;
}
.Search {
  width: 20vw;
  /* height: 10vh; */
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}
.Search img {
  height: 15px;
  width: auto;
}
.Search input {
  border: none;
  outline: none;
  background-color: transparent;
}
.search-place {
  display: grid;
  align-items: center;
  grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 10px;
  margin-top: 15px;
  width: 61vw;
  height: 20vh;
  background-color: #eef2ff;
}
/* place-name
place-humidity
place-visibility
place-temperature
place-wind */

.place-name,
.place-humidity,
.place-visibility,
.place-temperature,
.place-wind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.place-humidity,
.place-visibility,
.place-temperature,
.place-wind {
  width: 100%;
  height: 15vh;
  border-right: 1px solid #d0d0d0;
}
.place-humidity img {
  height: 70px;
  width: auto;
}
.place-humidity p {
  font-size: 12px;
  margin-top: -10px;
}
.place-humidity h1 span {
  font-size: 18px;
}
.place-special {
  border: none;
}
@media (max-width: 769px) {
  .info {
    margin-top: 15px;
    display: grid;
    grid-template-rows: 0 1fr 1fr 1fr 0;
    width: 61vw;
    height: 65vh;
    /* background-color: aquamarine; */
  }
  .date-time {
    /* padding: 10px; */
    grid-row: 1/3;
    grid-column: 1/6;
    height: 15vh;
    width: 100%;
  }
  .weather {
    grid-row: 3/4;
    grid-column: 1/6;
    width: 100%;
    height: 15vh;
  }
  .temparature {
    text-align: center;
    grid-row: 4/6;
    grid-column: 1/6;
    background-color: #6065f7;
    color: #ffffff;
    width: 100%;
    height: 15vh;
  }
  .humidity {
    grid-row: 3/4;
    background-color: #f0f5ff;
    box-shadow: 5px 5px 15px rgba(202, 202, 202, 0.3);
    border-top: 5px solid #6065f7;
    border-radius: 5px;
  }
  .chart {
    width: 400px;
  }
  .search-place {
    display: grid;
    align-items: center;
    grid-template-rows: 10px 1fr 1fr 1fr 1fr 1fr 10px;
    margin-top: 15px;
    width: 61vw;
    height: 75vh;
    background-color: #eef2ff;
  }
  .weather2 {
    grid-row: 1/3;
    grid-column: 4/5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .humidity2 {
    grid-row: 3/4;
    grid-column: 4/5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .visibility2 {
    grid-row: 4/5;
    grid-column: 4/5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .temp2 {
    grid-row: 5/6;
    grid-column: 4/5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wind-speed2 {
    grid-row: 6/7;
    grid-column: 4/5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .place-humidity,
  .place-visibility,
  .place-temperature,
  .place-wind {
    width: 100%;
    height: 15vh;
    border-right: none;
  }
}
@media (max-width: 426px) {
    .search-place {
        height: 80vh;
        margin-bottom: 15px;
      }
      .search-btn {
        margin-right: 40%;
        background-color: transparent;
      }
}
